body{
    background-color: rgb(34, 17, 34);
    background-image: url();
    display: grid;
    grid-template-areas: 
        "cab cab cab"
        "sec pri pri"
        "rod rod rod";
    grid-gap: 5px;
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto auto auto;
}

header{
    grid-area: cab;
    background-color:rgb(47, 21, 59);
}
aside{
    grid-area: sec;
    background-color: rgb(109, 74, 74);
}
main{
    grid-area: pri;
}
footer{
    grid-area: rod;
}

header, aside, main, footer{
    background-color: rgb(44, 26, 46);
}


.card{
    border: rgb(248, 244, 248) 2px solid;
    width: 300px;
    margin: 10px;
    height: 500px;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    background-color: rgba(250, 250, 250, 0.979);
}
.box_mae{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.card img{
    width: 280px;
}
header{
    background-color: rgb(88, 66, 110); 
}
header img{
    width: 100px;
    height: auto;
    justify-content: center;

}
header h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    

}
header h2 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}
footer img {
    width: 200px;
    height: auto;
    justify-content: right
}
ul {
    justify-content: center;
    align-items:center ;
    display: flex;
    flex-wrap: wrap;
     width : 1500px;
    height: auto;
}

aside {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}







